body{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  width: 550px;
}


img{
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.navbar{
  width: 550px;
height: 55px;
background: #F55A5A;
color: #FFF;
font-family: Inter;
font-size: 14.461px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -1.085px;
display: flex;
align-items: center;
justify-content: center;
}

.content{
  display: flex;
  padding: 40px;
  width: 470px;
}

.content-img{
  width: 125px;
height: 168px;
flex-shrink: 0;
border-radius: 5px;
margin-right: 19px;
}

.content-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.content-location{
    font-family: Inter;
    padding-bottom: 7px;
}

.content-location > img{
  width: 7px;
height: 9.545px;
flex-shrink: 0;
fill: #F55A5A;
}

.content-location > a{
  color: #918E9B;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-left: 18px;
}

.content-title{
  color: #2B283A;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 0px ;
}

.content-date{
  color: #2B283A;
font-family: Inter;
font-size: 10.24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.content-description{
  color: #2B283A;
font-family: Inter;
font-size: 10.24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 15.36px */
}